---
layout: workshop      # DON'T CHANGE THIS.
root: .               # DON'T CHANGE THIS.
venue: "Lawrence Berkeley National Laboratory"
address: "Bldg 54 Rm 130, 1 Cyclotron Road, Berkeley, CA"
country: "us"
language: "en"
latlng: "37.875866,-122.250626"
humandate: "Apr 7, 2016"
humantime: "10:00 am - 4:00 pm"
startdate: 2015-04-07
enddate: 2015-04-07
instructor: ["Greg Wilson", "Donny Winston"]
helper: []
contact: "dwinston@lbl.gov"
etherpad: http://pad.software-carpentry.org/swc-lbnl-2016-04-07
---
<h2 id="general">General Information</h2>
<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>'s mission is to
  help scientists and engineers get more research done in less time
  and with less pain by teaching them basic lab skills for scientific
  computing.  This hands-on workshop will cover basic concepts and
  tools for effective data management using SQL and MongoDB.
  Participants will be encouraged to help one another and to apply
  what they have learned to their own research problems.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>

<!--
     AUDIENCE

     Explain who your audience is.  (In particular, tell readers if the
     workshop is only open to people from a particular institution.
   -->
<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers.
  <strong>You don't need to have any previous knowledge of the tools that will
    be presented at the workshop.</strong>
</p>

<!--
     LOCATION

     This block displays the address and links to maps showing directions
     if the latitude and longitude of the workshop have been set.  You
     can use http://itouchmap.com/latlong.html to find the lat/long of an
     address.
   -->
{% if page.latlng %}
<p id="where">
  <strong>Where:</strong>
  {{page.address}}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<!--
     SPECIAL REQUIREMENTS

     Modify the block below if there are any special requirements.
   -->
<p id="requirements">
  <strong>Requirements:</strong> Participants must bring a laptop with
  a few specific software packages installed (listed
  <a href="#setup">below</a>). They are also required to abide by
  Software Carpentry's
  <a href="{{site.swc_site}}/conduct.html">Code of Conduct</a>.
</p>

<!--
     CONTACT EMAIL ADDRESS

     Display the contact email address set in the header.  If an address
     isn't set in the header, the Software Carpentry admin address is
     used.
   -->
<p id="contact">
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
  <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
  <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<!--
     SCHEDULE

     Show the workshop's schedule.  Edit the items and times in the table
     to match your plans.  You may also want to change 'Day 1' and 'Day
     2' to be actual dates or days of the week.
   -->
<h2 id="schedule">Schedule</h2>

<!-- DO NOT EDIT SURVEY LINKS -->
<!-- Enable only if/once registered as an official SWC workshop
     <p><em>Surveys</em></p>
     <p>Please be sure to complete these surveys before and after the workshop.</p>
     <p><a href='{{ site.swc_pre_survey }}{{ site.github.project_title }}'>Pre-workshop Survey</a></p>
     <p><a href='{{ site.swc_post_survey }}{{ site.github.project_title }}'>Post-workshop Survey</a></p>
   -->

<div class="row">
  <div class="col-md-6">
    <h3></h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Managing data with MongoDB</td> </tr>
      <tr> <td>11:15</td> <td>Coffee</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>Managing data with SQL</td> </tr>
      <tr> <td>14:45</td>  <td>Coffee</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>

{% if page.etherpad %}
<p id="etherpad">
  <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  We will use this Etherpad for chatting, taking notes, and sharing URLs and bits of code.
</p>
{% endif %}

<hr/>

<!--
     SYLLABUS

     Show what topics will be covered.

     1. If your workshop is R rather than Python, remove the comment
     around that section and put a comment around the Python section.
     2. Some workshops will delete SQL.
     3. Please make sure the list of topics is synchronized with what you
     intend to teach.
     4. You may need to move the div's with class="col-md-6" around inside
     the div's with class="row" to balance the multi-column layout.

     This is one of the places where people frequently make mistakes, so
     please preview your site before committing, and make sure to run
     'tools/check' as well.
   -->
<h2 id="syllabus">Syllabus</h2>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Managing Data with MongoDB</h3>
    <ul>
      <li>Set up a local server</li>
      <li>Connect via Python and a Jupyter Notebook</li>
      <li>Import and Insert Data</li>
      <li>Find Data; Specify Conditions with Operators</li>
      <li>Sort Results</li>
      <li>Update and Remove Data</li>
      <li>Data Aggregation</li>
      <li>Indexes</li>
      <li><a href="https://dwinston.github.io/mongo-novice-materials/index.html">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-sql">Managing Data with SQL</h3>
    <ul>
      <li>Reading and sorting data</li>
      <li>Filtering with <code>where</code></li>
      <li>Calculating new values on the fly</li>
      <li>Handling missing values</li>
      <li>Combining values using aggregation</li>
      <li>Combining information from multiple tables using <code>join</code></li>
      <li>Creating, modifying, and deleting data</li>
      <li>Programming with databases</li>
      <li><a href="{{site.swc_githubio}}sql-novice-survey/index.html">Reference...</a></li>
    </ul>
  </div>
</div>

<hr/>

<!--
     SETUP

     Delete irrelevant sections from the setup instructions.  Each
     section is inside a 'div' without any classes to make the beginning
     and end easier to find.

     This is the other place where people frequently make mistakes, so
     please preview your site before committing, and make sure to run
     'tools/check' as well.
   -->

<h2 id="setup">Setup</h2>

<p>
  To participate in this workshop, you will need
  the software described below. In addition, you will
  need an up-to-date web browser, and the following four files:
</p>
<ol>
  <li>
    <a href="code/mongo-novice-materials.json">mongo-novice-materials.json</a>
  </li>
  <li>
    <a href="code/periodic_table.json">periodic_table.json</a>
  </li>
  <li>
    <a href="code/survey.db">survey.db</a>
  </li>
  <li>
    <a href="code/gen-survey-database.sql">gen-survey-database.sql</a>
  </li>
</ol>

<p>
  <em>
    We maintain a list of common issues that occur during installation as a reference for instructors
    that may be useful on the
    <a href = "https://github.com/swcarpentry/workshop-template/wiki/Configuration-Problems-and-Solutions">Configuration Problems and Solutions wiki page</a>.
  </em>
</p>

<div id="mongodb"> <!-- Start of 'MongoDB' section. -->
  <h3>MongoDB</h3>

  MongoDB is a powerful system for search and analysis of your data, and can
  handle large, complex data sets.

  <div class="row">
    <div class="col-md-4">
      <h4 id="mongodb-windows">Windows</h4>

      <p>Go to <a href="https://www.mongodb.org/downloads" class="uri">https://www.mongodb.org/downloads</a> and download the MSI installer. The <a href="https://docs.mongodb.org/manual/tutorial/install-mongodb-on-windows/#determine-which-mongodb-build-you-need">official installation tutorial</a> walks through how to determine which version of the installer will be best for your system. Run the installer, accept the license, and choose a “Complete” installation.</p>
      <p>Once, installed, open a <strong>Powershell</strong> window and type in</p>
      <pre class="command"><code>md \data\db</code></pre>
      <p>to create the default data directory for MongoDB to use on your system. Then, add the MongoDB <strong>bin</strong>ary files directory to your Path environment by typing in</p>
      <pre class="command"><code>$env:Path += &quot;;C:\Program Files\MongoDB\Server\3.2\bin&quot;</code></pre>
      <p>and then start the server (called the <strong>mongo</strong> <strong>d</strong>aemon) by typing in</p>
      <pre class="command"><code>mongod</code></pre>
      <p>Now, open <em>another</em> <strong>Powershell</strong> window, and this time call <code>mongo</code> (no <strong>d</strong> at the end) to open a connection to your running server:</p>
      <pre class="command"><code>$env:Path += &quot;;C:\Program Files\MongoDB\Server\3.2\bin&quot;
mongo</code></pre>
      <p>Type <code>help</code> and hit enter, and you should see a listing of commands. Type <code>exit</code> and hit enter to exit the MongoDB shell and return to your Windows command prompt.</p>

    </div>
    <div class="col-md-4">
      <h4 id="mongodb-macosx">Mac OS X</h4>

      <p><a href="http://brew.sh/">Homebrew</a>, “the missing package manager for OS X”, installs binary packages based on published “formulae”. To install, open a <strong>Terminal</strong> window and enter (one line)</p>
      <pre class="command"><code>/usr/bin/ruby -e &quot;$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)&quot;</code></pre>
      <p>and if you already have <code>brew</code> installed, run <code>brew update</code> to update your installation’s package database.</p>
      <p>To install the MongoDB binaries, run the following:</p>
      <p>At a <strong>Terminal</strong> prompt,</p>
      <pre class="command"><code>brew install mongodb</code></pre>
      <p>Use <code>brew services</code> to launch the mongodb daemon (<code>mongod</code>) and ensure it re-launches if your system restarts:</p>
      <pre class="command"><code>brew tap homebrew/services
brew services restart mongodb</code></pre>
      <p>Run <code>mongo</code> at a terminal prompt to open a connection to your running server. Type <code>help</code> and hit enter, and you should see a listing of commands. Type <code>exit</code> and hit enter to exit the MongoDB shell.</p>

    </div>
    <div class="col-md-4">
      <h4 id="mongodb-linux">Linux</h4>

      <p>The procedure maps more or less to that for Mac OS X above. Consult <a href="https://docs.mongodb.org/manual/administration/install-on-linux/" class="uri">https://docs.mongodb.org/manual/administration/install-on-linux/</a> for MongoDB setup intructions particular to your flavor of Linux, and ensure everything works as described in the Mac OS X instructions.</p>

  </div>

</div> <!-- End of 'MongoDB' section. -->

<div id="sql"> <!-- Start of 'SQLite' section. -->
  <h3>SQLite</h3>

  <p>
    SQL is a specialized programming language used with databases.  We
    use a simple database manager called
    <a href="http://www.sqlite.org/">SQLite</a> in our lessons.
  </p>

  <div class="row">
    <div class="col-md-4">
      <h4 id="sql-windows">Windows</h4>
      <p>
        The <a href="{{site.swc_github}}/windows-installer">Software Carpentry Windows Installer</a>
        installs SQLite for Windows.
        If you used the installer to configure nano, you don't need to run it again.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="sql-macosx">Mac OS X</h4>
      <p>
        SQLite comes pre-installed on Mac OS X.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="sql-linux">Linux</h4>
      <p>
        SQLite comes pre-installed on Linux.
      </p>
    </div>
  </div>

  <p><strong>If you installed Anaconda, it also has a copy of SQLite
    <a href="https://github.com/ContinuumIO/anaconda-issues/issues/307">without support to <code>readline</code></a>.
    Instructors will provide a workaround for it if needed.</strong></p>
</div> <!-- End of 'SQLite' section. -->
